{% extends 'base.html.twig' %}

{% block body %}
<h1>Anime list</h1>
<div class="row">
    {% for anime in animes %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                    <a href="{{ path('anime_show', { 'id': anime.id }) }}">
                       <img src="{{anime.picture}}" height="320px" title="{{anime.name}}"/>
                    </a>
                    <p>{{anime.name}}</p>
                </div>
                <div class="card-action link">
                    <a href="{{ path('anime_show', { 'id': anime.id }) }}"><button type="button" class="btn btn-lg btn-primary">See details</button></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
