{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col s12 anime_title">
    <h5>{{ anime.name }}</h5>
  </div>
</div>

<div class="row">

    <div class="col s2">
      <img src="{{ asset('src/imgs/img8.png') }}" width="100%" alt="">
    </div>

    <!-- Left content - Summury -->
    <div class="col l2 m4 s12 info">
        <img src="{{ anime.picture }}" width="100%" title="{{anime.name}}"/>
        <div class="left-align">
            <div>
                {% if following != null %}
                    <a href="{{ path('anime_unfollow', {'id': anime.id }) }}"><button class="active">Unfollow</button></a>
                {% else %}
                    <a href="{{ path('anime_follow', {'id': anime.id }) }}"><button class="inactive">Follow</button></a>
                {% endif %}
                {% if (following != null) and (following[0].favori == 1) %}
                    <a href="{{ path('anime_unfav', {'id': anime.id }) }}"><button class="active">Unfav'</button></a>
                {% else %}
                    <a href="{{ path('anime_fav', {'id': anime.id }) }}"><button class="inactive">Fav'</button></a>
                {% endif %}
            </div>
            <p>
                <strong>Score (avg) : </strong>
                {% if notationAvg != 0 %}
                    {{ notationAvg|round }}
                {% else %}
                    Pas de notes
                {% endif %}
            </p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p>
                <a href="{{ path('animescore_new', {'anime': anime.id}) }}">Note This Anime</a>
            </p>
            {% endif %}
            <p>
                <strong>Type</strong>
                :
                {{typeName}}
            </p>
            <p>
                <strong>Aired</strong>
                :
                {% if anime.aired %}{{ anime.aired|date('Y-m-d') }}{% endif %}
            </p>
            <p>
                <strong>Studios</strong>
                :
                {{anime.studios}}
            </p>
            <p>
                <strong>Licensors</strong>
                :
                {{anime.licensors}}
            </p>
            <p>
                <strong>Producers</strong>
                :
                {{anime.producers}}
            </p>
            <p>
                <strong>Genres</strong>
                :
                {{genreName|slice(0, 3)|join(', ')}}
            </p>
            <p>
                <strong>Duration</strong>
                :
                {{anime.duration}}
                minutes
            </p>
            <p>
                <strong>Rating</strong>
                :
                {{anime.rating}}
            </p>
            <p>
                <strong>Followers : </strong>
                {{ followers|round }}
            </p>
            <p>
                <strong>Favorites : </strong>
                {{ favoris|round }}
            </p>
        </div>
    </div>


    <!-- Right content - Informations -->

    <div class="col l6 m6 s12 left-align">

        <!-- Synopsis -->
        <div class="section section-1">
            <h5>Synopsis</h5>
            {{anime.synopsis}}
        </div>

        <div class="divider"></div>

        <!-- Background -->
        <div class="section section-1">
            <h5>Background</h5>
            {{anime.background}}
        </div>

        <div class="divider"></div>

        <!-- Reviews -->
        <div class="section section-4">
            <h5>Reviews</h5>
            {% for review in reviews %}
                <div class="col s12 m12 l12" style="margin-bottom: 30px;">
                    <p>
                      <span>By {{review.user}}</span>
                      <span style="margin-left: 30px; color: grey;">{% if review.user == user %}<a href="{{ path('animereview_edit', {'id': review.id}) }}">Edit</a>{% endif %}</span>
                    </p>
                    <span>{{review.value}}</span>
                    <span style="float: right">{% if review.created %}{{ review.created|date('Y-m-d') }}{% endif %}</span>
                </div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <!-- Write Review -->
        <div class="section section-5">
            <a href="{{ path('animereview_new', {'anime': anime.id}) }}">Write your review</a>
        </div>

        <div class="divider"></div>

        <img src="{{ asset('src/imgs/img11.png') }}" width="100%" alt="">

        <!-- Episodes -->
        <div class="section section-5">
            <h5>Episodes ({{ episodeCount }})</h5>
            {% for episode in episodes %}
                <a href="{{ path('episode_show', { 'id': episode.id }) }}">
                    <div class="col s12 m12 l12">
                        <span>{{episode.name}}</span>
                        <span style="float: right">{% if episode.aired %}{{ episode.aired|date('Y-m-d') }}{% endif %}</span>
                        <div class="divider"></div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>



      <div class="col s2">
        <img src="{{ asset('src/imgs/img2.png') }}" width="100%" alt="">
      </div>

</div>
{% endblock %}
