{% extends 'base.html.twig' %}

{% block body %}

<ul>
    <li>
        <a href="{{ path('anime_index') }}">Back to the list</a>
    </li>
</ul>

<div class="row">

    <!-- Left content - Summury -->

    <div class="col l4 m4 s12 info">
        <div class="card">
            <div class="test pushpin">
                <div class="card-content">

                    <h5>
                        {{ anime.name }}
                    </h5>

                    <img src="{{ anime.picture }}" height="320px" title="{{anime.name}}"/>
                </div>
                <div class="card-action left-align">
                    <p>
                        <strong>Type</strong>
                        :
                        {{typeName}}
                    </p>
                    <p>
                        <strong>Aired</strong>
                        :
                        {% if anime.aired %}{{ anime.aired|date('Y-m-d H:i:s') }}{% endif %}
                    </p>
                    <p>
                        <strong>Studios</strong>
                        :
                        {{anime.studios}}
                    </p>
                    <p>
                        <strong>Genres</strong>
                        :
                        {{genreName|slice(0, 3)|join(', ')}}
                    </p>
                    <p>
                        <strong>Duration</strong>
                        :
                        {{anime.duration}}
                        minutes
                    </p>
                    <p>
                        <strong>Rating</strong>
                        :
                        {{anime.rating}}/10
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Right content - Informations -->

    <div class="col l8 m8 s12 left-align">

        <!-- Synopsis -->
        <div class="section section-1">
            <h5>Synopsis</h5>
            {{anime.synopsis}}
        </div>

        <div class="divider"></div>

        <!-- Background -->
        <div class="section section-1">
            <h5>background</h5>
            {{anime.background}}
        </div>

        <div class="divider"></div>

        <!-- Reviews -->
        <div class="section section-4">
            <h5>Reviews</h5>
            {% for review in reviews %}
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                            <p>
                                <span>By {{review.user}}</span>
                                <span style="margin-left: 30px; color: grey;">{% if review.user == user %}<a href="{{ path('animereview_edit', {'id': review.id}) }}">Edit</a>{% endif %}</span>
                            </p>
                            <span>{{review.value}}</span>
                            <span style="float: right">{% if review.created %}{{ review.created|date('Y-m-d') }}{% endif %}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <!-- Write Review -->
        <div class="section section-5">
            <a href="{{ path('animereview_new', {'anime': anime.id}) }}">Write your review</a>
        </div>

        <div class="divider"></div>

        <!-- Episodes -->
        <div class="section section-5">
            <h5>Episodes</h5>
            {% for episode in episodes %}
                <a href="{{ path('episode_show', { 'id': episode.id }) }}">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span>{{episode.name}}</span>
                                <span style="float: right">{% if episode.aired %}{{ episode.aired|date('Y-m-d') }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}
