<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony anime{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('src/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('src/css/anime.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('anime_index') }}">Animes</a>
                    </li>
                    <li>
                        <a href="{{ path('animegenre_index') }}">Genres</a>
                    </li>
                </ul>
                <ul class="user_infos">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">Profil {{ app.user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    <div class="container center-align">
        {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
