{% extends 'base.html.twig' %}

{% block body %}

    <header>
            <img src="{{ asset('src/imgs/logo.png') }}" class="logo" width="150px" alt="">
            <img src="{{ asset('src/imgs/img1.png') }}" width="600px" alt="">
            <ul>

                <a href="{{ path('anime_index') }}">
                    <li>
                        <div class="menu">
                            <p class="menu__text">. Animes .</p>
                        </div>
                    </li>
                </a>

                <a href="{{ path('userhasanimes_index') }}">
                    <li>
                        <div class="menu">
                            <p class="menu__text"> Planning *</p>
                        </div>
                    </li>
                </a>

                <a href="{{ path('anime_index') }}">
                    <li>
                        <div class="menu">
                            <p class="menu__text"> ~ Genres ~ </p>
                        </div>
                    </li>
                </a>

                <a href="{{ path('anime_index') }}">
                    <li>
                        <div class="menu">
                            <p class="menu__text"> ~ Profil ~ </p>
                        </div>
                    </li>
                </a>

            </ul>
        </header>


{% endblock %}
