{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">

  <div class="col s12 m6 l3 episode_bg">
    <h4 style="margin-bottom:20px">My profile</h4>
    <div class="fos_user_user_show">
        <img src="{{ asset('src/imgs/profile.png') }}" height="200px" alt="">
        <h5>{{ user.username }}</h5>
        <p><strong>Following : </strong>{{ userHasAnimesCount }}</p>
        <p><strong>Favorites : </strong>{{ favorisCount}}</p>
        <p><strong>Reviews : </strong>{{ reviewsCount }}</p>
    </div>


  </div>
  <div class="col s12 m6 l9">
    <h4>Animes I follow</h4>
    <div class="row">
    {% for userHasAnime in userHasAnimes %}
        <div class="col s12 m6 l3" style="height:500px">
            <a href="{{ path('anime_show', { 'id': userHasAnime.anime.id }) }}">
               <img src="{{userHasAnime.anime.picture}}" height="270px" title="{{userHasAnime.anime.name}}"/>
            </a>
            <p>{{userHasAnime.anime.name}}</p>
            <a href="{{ path('anime_show', { 'id': userHasAnime.anime.id }) }}"><button type="button">See details</button></a>
        </div>

    {% endfor %}
    </div>

    <h3>My favorites</h3>
    <div class="row">
    {% for userHasAnime in userHasAnimes %}
        {% if userHasAnime.favori == 1 %}
            <div class="col s12 m6 l3" style="height:500px;">
                <a href="{{ path('anime_show', { 'id': userHasAnime.anime.id }) }}">
                   <img src="{{userHasAnime.anime.picture}}" height="270px" title="{{userHasAnime.anime.name}}"/>
                </a>
                <p>{{userHasAnime.anime.name}}</p>
                <a href="{{ path('anime_show', { 'id': userHasAnime.anime.id }) }}"><button type="button">See details</button></a>
            </div>
        {% endif %}
    {% endfor %}
    </div>


    <h3>My reviews</h3>
    <div class="row">
        {% for review in reviews %}
            <div class="col s12 m12 l12" style="margin-bottom: 30px;">
                <div class="divider"></div>
                <p>
                    <span>For anime : <a href="{{ path('anime_show', { 'id': review.anime.id }) }}">{{review.anime.name}}</a></span>
                    <span style="margin-left: 30px; color: grey;">{% if review.user == user %}<a href="{{ path('animereview_edit', {'id': review.id}) }}">Edit</a>{% endif %}</span>
                </p>
                <span>{{review.value}}</span>
                <span style="float: right">{% if review.created %}{{ review.created|date('Y-m-d') }}{% endif %}</span>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock fos_user_content %}
