{% extends 'base.html.twig' %}

{% block body %}
    <h4>Anime Genres</h4>
    <p>Select a genre</p>

    <div class="row genres">
        {% for animeGenre in animeGenres %}
            <a href="{{ path('animegenre_show', {'id': animeGenre.id }) }}">
                <div class="col s12 m6 l3">
                    <p class="episode_bg">{{animeGenre.name}}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="row">
      {% for anime in animes %}
          <a href="{{ path('anime_show', { 'id': anime.id }) }}">
              <div class="col l4 m4 s12">
                  <div class="divider"></div>
                  <p>{{anime.name}}</p>
                  <img src="{{ anime.picture }}" height="200px" title="{{anime.name}}"/>
              </div>
          </a>
      {% endfor %}
    </div>


{% endblock %}
