{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anime Genres</h1>
    <p>Select a genre</p>

    <div class="row genres">
        {% for animeGenre in animeGenres %}
            <a href="{{ path('animegenre_show', {'id': animeGenre.id }) }}">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content">
                            {% if animeGenre.name == genre.name %}
                                <p style="color:green; text-transform: uppercase;">{{animeGenre.name}}</p>
                            {% else %}
                                {{animeGenre.name}}
                            {%  endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {% for anime in animes %}
        <a href="{{ path('anime_show', { 'id': anime.id }) }}">
            <div class="col s12 m12 l12">
                <div class="divider"></div>
                <img src="{{anime.picture}}" style="height: 100px;"/>
                <span>{{anime.name}}</span>
            </div>
        </a>
    {% endfor %}

{% endblock %}
