{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planning of episodes</h1>


    <h3>Today</h3>
    {% for episode in episodes %}
        {% if episode.aired|date('Y-m-d') == "now"|date('Y-m-d')  %}
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card_content">
                        <p>{% if episode.aired %}{{ episode.aired|date('m-d-Y') }}{% endif %}</p>
                        <a href="{{ path('episode_show', { 'id': episode.id }) }}"><p>{{episode.name}}</p></a>
                        <p>Anime :<a href="{{ path('anime_show', { 'id': episode.anime.id }) }}"> {{ animeName[episode.id]  }}</a></p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <h3>Episodes to come</h3>
        {% for episode in episodes %}
            {% if episode.aired|date('Y-m-d') > "now"|date('Y-m-d')  %}
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card_content">
                            <p>{% if episode.aired %}{{ episode.aired|date('m-d-Y') }}{% endif %}</p>
                            <a href="{{ path('episode_show', { 'id': episode.id }) }}"><p>{{episode.name}}</p></a>
                            <p>Anime :<a href="{{ path('anime_show', { 'id': episode.anime.id }) }}"> {{ animeName[episode.id]  }}</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    <h3>Past episodes</h3>
        {% for episode in episodes %}
            {% if episode.aired|date('Y-m-d') < "now"|date('Y-m-d')  %}
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card_content">
                            <p>{% if episode.aired %}{{ episode.aired|date('m-d-Y') }}{% endif %}</p>
                            <a href="{{ path('episode_show', { 'id': episode.id }) }}"><p>{{episode.name}}</p></a>
                            <p>Anime :<a href="{{ path('anime_show', { 'id': episode.anime.id }) }}"> {{ animeName[episode.id]  }}</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
{% endblock %}
