{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>
    <h5>{{ episode.name }}</h5>
    <p>From <a href="{{ path('anime_show', { 'id': episode.anime.id }) }}">{{ animeName }}</a></p>

    <div>{{ episode.description }}</div>

    <p>Duration : {{ episode.duration }} minutes - Aired on : {% if episode.aired %}{{ episode.aired|date('m-d-Y') }}{% endif %}</p>

{% endblock %}
