{% extends 'base.html.twig' %}

{% block body %}

<h4 style="padding-bottom:50px;">Episode</h4>

<div class="row">
  <div class="col s12 m6 l3 episode_bg">
    <h5>{{ episode.name }}</h5>
    <img src="{{episode.anime.picture}}" height="270px"/>
    <p><strong>Anime : </strong><a href="{{ path('anime_show', { 'id': episode.anime.id }) }}">{{ animeName }}</a></p>
    <p><strong>Duration : </strong>{{ episode.duration }} minutes</p>
    <p><strong>Aired on : </strong>{% if episode.aired %}{{ episode.aired|date('m-d-Y') }}{% endif %}</p>
  </div>
  <div class="col s12 m6 l9">
    <h4>Synopsis</h4>
    <p>{{ episode.description }}</p>
  </div>
</div>

{% endblock %}
