{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animescore</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animeScore.id }}</td>
            </tr>
            <tr>
                <th>Anime</th>
                <td>{{ animeName }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ animeScore.user }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ animeScore.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animescore_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('animescore_edit', { 'id': animeScore.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
